@import url('https://fonts.googleapis.com/css2?family=Mali:ital@1&family=Mitr:wght@300&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Mitr', sans-serif;
}

main{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main > i{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
}

main > ul{
    position: absolute;
    z-index: 5;
    top: 50px;
    width: 200px;
    background-color: whitesmoke;
    transform: translate(-200px,0);
    transition: all .3s;
}

.drop-true{
    transform: translate(0,0);
}

main > ul a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid white;
}

main > ul a li{
    list-style: none;
    font-size: 20px;
    padding: 8px;

}



header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 200px;
    height: 140px;
}

nav{
    height: 70px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

nav ul{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
}

nav ul a{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul a img{
    width: 50px;
    height: 50px;
}

/* style */

main > p{
    font-size: 30px;
    margin: 10px;
}

section{
    margin: 2px auto 0 auto;
    width: 70%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

section > div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div img{
    width:  200px;
    height: 200px;
    object-fit: cover;
    transition: all .2s;
}

section > div img:hover{
    transform: scale(1.1,1.1);
}

section > div span{
    display: block;
    position: absolute;
    top: 21px;
    right: 45px;
    background-color: yellow;
    padding: 0.5rem 0.5rem;
}